@import url(global.css);
@import url(styles.css);

.container {
  --max-width: 375px;
  width: min(var(--max-width));
  padding: 2rem;
  margin-inline: auto;
}

.headerContainer {
  display: none;
}

@media (width >= 40em) {
  .container {
    --max-width: 40rem;
    margin: 0 auto;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
  }

  .headerContainer strong {
    color: var(--content-secondary);
    font-size: 1.65rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}
